body {
    margin-top:50px;
    margin-left:80px;
}

.input {
    padding-bottom:10px;
    margin-bottom:15px;
    width: 25%;
}

.options {
    display: inline-block;
}

.singup {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color:gray;
    border: 1px solid;
    border-color: gray;
    background-color:white;
}

.lastp {
    margin-top: 40px;
    width: 350px;
}