header {
    border-bottom: 3px solid lightgray;
}

.div-header-1 {
    margin-left: 30px;
    display:inline-block;
}

.div-header-2 {
    margin-left: 1500px;
    display:inline-block;
}

.div-form {
    margin-left: 70px;
}

.singin1 {
    display:inline-block;
    color:white;
    background-color:rgba(38, 128, 231, 0.856);
    margin: 5px;
    padding: 10px;
    
}

.singin2 {
    display:inline-block;
    color:white;
    margin: 5px;
    padding: 10px;
    background-color:rgba(19, 44, 187, 0.856)
}

.input {
    margin-bottom:20px;
}

.create {
    margin: 20px;
    margin-bottom: 100px;
    color:gray;
    border-color:gray;
    padding:10px;
    border: dashed;
    border-radius: 20pt;
}

footer {
        border-top:3px solid lightgray;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    margin-right:40px;
}